
@import 'ws-mixins';

.footer-container {
  display: flex;
  justify-content: space-between;
  @include breakpoint-xs {
    flex-direction: column;
  }
  color: #7b6961;
}

.font-12 {
  font-size: 12px !important;
}

.mat-figure {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
  display: flex;
  align-items: flex-start !important;
  justify-content: center;
  height: 100%;
  padding: 0;
  margin: 0;
}
.footer-image {
  height: auto;
  max-width : 100%;
}

.footer-heading {
  font-size: 17px;
}